software/dashboard/nrdash/node-red/.flows.json.backup
[{"id":"8a18992f.fc85b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1fc96dc9.a84c62","type":"socketio-config","z":"","port":"9090","sendClient":"true","path":"/socket.io","bindToNode":false},{"id":"c0fc13b8.94578","type":"inject","z":"8a18992f.fc85b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":260,"wires":[["bf861f2d.820cc"]]},{"id":"bf861f2d.820cc","type":"debug","z":"8a18992f.fc85b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":260,"wires":[]},{"id":"5ac6fda1.abd144","type":"socketio-out","z":"8a18992f.fc85b8","name":"","server":"1fc96dc9.a84c62","x":260,"y":480,"wires":[]}]